# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [7]:
string = "toto"
number = 10

### Reverse the contents of the variables `string` and `number` (from line 1).

In [10]:
string = string[::-1]
number = int(str(number)[::-1])

1

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [11]:
first_list = [1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in `first_list` - in one line of code.

In [13]:
first_list[:3]

[1, 3, 2]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [15]:
second_list = first_list[2:5]
second_list

[2, 7, 4]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [16]:
third_list = first_list + second_list
third_list

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [17]:
tuple_of_lists = zip(first_list, second_list)
tuple_of_lists

### Add the number 5 to `first_list`.

In [18]:
first_list.append(5)
first_list

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to `third_list`.

In [20]:
third_list.append(None)
third_list

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [21]:
def calc(my_list, n):
    return n * my_list

calc(my_list=[1,2,3], n=2)

[1, 2, 3, 1, 2, 3]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [22]:
def calc(my_list, n=2):
    return n * my_list

calc(my_list=[1,2,3])

[1, 2, 3, 1, 2, 3]

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [27]:
i = 0
while third_list[i] != None:
    print(third_list[i])
    i += 1

1
3
2
7
4
10
46
2
7
4

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [35]:
even = 0

for i in range(0, len(first_list)):
    if first_list[i] % 2 == 0:
        even += 1

even

4

### Rewrite the following expression with a multi-line `for` loop.

In [38]:
even_numbers = [element for element in first_list if element % 2 == 0]
even_numbers

[2, 4, 10, 46]

In [39]:
even_numbers = []

for element in first_list:
    if element % 2 == 0:
        even_numbers.append(element)

even_numbers

[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [40]:
def first_letters(text):
    return text[0]

first_letters("whaietaofinergioz")

'w'

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [41]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Access the `year` value.

In [44]:
car["year"]

1964

###  Use a loop to display all the dictionary keys.

In [47]:
for key in car:
    print(key)

brand
model
year

###  Use a loop to display all the dictionary values.

In [52]:
for key, value in car.items():
    print(value)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [60]:
for count, (key, value) in enumerate(car.items()):
    print(count, value)

0 Ford
1 Mustang
2 1964

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
my_dict = {key:value for key, value in zip(list_1, list_2)}
```

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [70]:
def fibonacci(max):
    if max == 0:
        return [0]

    fib_list = [0, 1]
    next_i = 1

    while next_i <= max:
        fib_list.append(next_i)
        next_i = fib_list[-2] + fib_list[-1]

    return fib_list

fibonacci(5)

[0, 1, 1, 2, 3, 5]

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

In [71]:
fibonacci(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### Create the same function using a generator
Ex : `generate_fibonacci(10) `

In [76]:
fibonacci(10000000000000000000000000000000)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075,
 573147844013817084101,
 927372692193078999176,
 1500520536206896083277,
 2427893228399975082453,
 3928413764606871165730,
 6356306993006846248183,
 10284720757613717413913,
 16641027750620563662096,
 26925748508234281076009,
 43566776258854844738105,
 70492524767089125814114,
 114059301025943970552219,
 184551825793033096366333,
 298611126818977066918552,
 483162952612010163284885,
 781774079430987230203437,
 1264937032042997393488322,
 2046711111473984623691759,
 3311648143516982017180081,
 5358359254990966640871840,
 8670007398507948658051921,
 14028366653498915298923761,
 22698374052006863956975682,
 36726740705505779255899443,
 59425114757512643212875125,
 96151855463018422468774568,
 155576970220531065681649693,
 251728825683549488150424261,
 407305795904080553832073954,
 659034621587630041982498215,
 1066340417491710595814572169,
 1725375039079340637797070384,
 2791715456571051233611642553,
 4517090495650391871408712937,
 7308805952221443105020355490,
 11825896447871834976429068427,
 19134702400093278081449423917,
 30960598847965113057878492344,
 50095301248058391139327916261,
 81055900096023504197206408605,
 131151201344081895336534324866,
 212207101440105399533740733471,
 343358302784187294870275058337,
 555565404224292694404015791808,
 898923707008479989274290850145,
 1454489111232772683678306641953,
 2353412818241252672952597492098,
 3807901929474025356630904134051,
 6161314747715278029583501626149,
 9969216677189303386214405760200]